<section class="pt-48 flex justify-center items-center">
  <div class="flex flex-col w-[500px]">
    <form
      action=""
      [formGroup]="createForm"
      (ngSubmit)="createCategory()"
      class="flex flex-col w-full"
    >
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="flex justify-end w-full">
        <button mat-raised-button color="primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</section>
