<main class="w-full h-screen flex justify-center py-48">
  <section class="w-[700px]">
    <div class="flex mb-5 justify-end w-full">
      <a routerLink="/create-item" href="/create-item">
        <button
          class="py-1 px-5 text-white bg-black transition-all duration-300 hover:opacity-70 rounded-sm"
        >
          Crear
        </button>
      </a>
    </div>

    <table class="table-fixed text-center w-full border-collapse">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items">
          <td class="">{{ item.name }}</td>
          <td class="">{{ item.category }}</td>
          <td class="">{{ item.description }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
